@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

@layer utilities {
  .bg-custom-gradient {
    --tw-gradient-from: theme('colors.primary');
    --tw-gradient-to: theme('colors.primary');
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
  }
}